@import _mixins
@import _meyersReset
@import _variables
@import _palette-dBlueTetrad

html
	font-size: $BASEFONTSIZE

body
  padding: 1.5rem
  background-color: $color-primary-4

// To allow the sidebar to scroll with the rest of the page
#sideBar
  position: fixed
  right: 0

#mainWindow
	position: relative

.segment
	padding: 1rem !important

#legislators
  .card
    max-width: 13rem
    +bp(sm)
    	max-width: 10rem

#wcloud
  //width: 100%
  min-height: 200px

#charts
  border: 1px solid blue