@import _mixins
@import _variables

#ipInfo, #legi-search
  width: 50%
  margin: auto
  padding: 1rem

#legi-results
	margin: auto
	padding: 1rem


#legislators 
	margin: auto
	padding: 1rem

	.card
		max-width: 15rem 
		
	#social
		min-height: 1rem
