<!--<head>-->
	<!--<base target="_blank" />-->
	<!--<title>The Diligent Citizen</title>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

<!--</head>-->
<!--<body>-->
<template name="home">
<div id="fb-root"></div>
<script>

// HACK: What does this script do?

    (function(d,s,id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=968320853209679";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script','facebook-jssdk'));
</script>

	<div class="ui grid">

		<div id="sideBar" class="ui three wide column">

			{{> ipInfo}}
			{{> legiScanSearch}}

		</div>

		<div id="content" class="ui thirteen wide column">
			{{> elections}}
            {{> myReps}}
			{{> pollster}}
			{{> legiScanResults }}

		</div>
    </div>
<!--<div class="fb-comments" data-href="http://localhost:8" data-numposts="5"></div>-->
	<!--</div>-->
</template>
<!--</body>-->
