<template name="ipInfo">
	<div id="ipInfo" class="ui segment">	
		<form id="state-form" class="ui {{locating}} form">
			<div class="field">
				{{#if location.region}}
					<label> Not in {{location.region}}? Enter another state or zipcode here: </label>
			    <input type="text" id="self-state" name="self-state" size="6" placeholder="{{location.abState}}... {{location.postal}}..." />
		    {{else}}
					<label> Enter your state or zipcode here: </label>
			    <input type="text" id="self-state" name="self-state" size="6" placeholder="NY" />
		    {{/if}}
		  </div>
		</form>
	</div>
</template>