<template name="nybills">
<div>
<h4>Sponsored Bills:  </h4>
	{{#each spon_bills}}
		<span>{{num_results}}</span>
			{{#each bills}}
				<p>{{number}}: {{title}}</p>
			{{/each}}
	{{/each}}
</div>
</template>

<template name="nytbills">
<div id="sponbills" class="ui row">
{{#each reps}}
<div class="ui cards">
	{{#each spons_bills}}
		<h4>Bills sponsored by {{name}}</h4>
			{{#each bills}}
				<div class="ui card">
				  <div class="content">
				    <div class="header">
				      <a href="{{bill_uri}}" target="_blank">
				        {{number}}
				      </a>
				    </div>
				  </div>
				  <div class="content">
				    <h4 class="ui sub header">{{title}}</h4>
				    <ul class="ui bulleted selection list">              
				      <li class="item">{{latest_major_action_date}} | {{latest_major_action}}</li>
				    </ul>
				  </div>
				</div>
			{{/each}}
	{{/each}}
</div>
{{/each}}
</div>				
</template>