<template name="elections">
	<div class="ui container">
		<h2 class="ui block compact header">Upcoming Elections:</h2>
		{{#with events}}
		<div class="ui compact piled segments">
			{{#each elections}}
				{{#if divMatch ocdDivisionId }}
				<div class="ui raised segment">
					<div class="content">
						<a class="ui large purple ribbon label" title="Mark Your Calendar!">{{electionDay}}</a>
						<span class="ui">{{name}}</span> 
					</div>
					<div class="block header">Your Local Polling Place:</div>
					{{#with voterinfo id}}
						<div class="content">
							
						</div>
					{{/with}}
				</div>
				{{else}}
				<div class="ui segment">
					<div class="content">
						<a class="ui large purple ribbon label" title="Mark Your Calendar!">{{electionDay}}</a>
						<span class="ui">{{name}}</span> 
					</div>
				</div>
				{{/if}}
			{{/each}}
		</div>
		{{/with}}
	</div>
</template>

