<template name="elections">
	<div class="ui container">
		<h2 class="ui block compact header">Upcoming Elections:</h2>
		{{#with events}}
		<div class="ui compact piled segments">
			{{#each elections}}
				{{#if divMatch ocdDivisionId }}
				<div class="ui raised segment">
					<div class="content">
						<a class="ui large purple ribbon label" title="Mark Your Calendar!">{{electionDay}}</a>
						<span class="">{{name}}</span> 
						<div class="ui segment">
							<div class="ui block header">Your Local Polling Place:</div>
							{{#with voterinfo id}}
							<div class="content">
								{{#with dropOffLocations.[0]}}
								
									<h3 class="subheader"> {{name}}</h3>
									<p>	{{address.line1}} <br />
									{{address.city}}, {{address.state}}  {{address.zip}}</p>
									<p> Hours: {{pollingHours}}</p>
								
								{{/with}}
							</div>
							{{/with}}
						</div>
					</div>
				</div>
				{{else}}
				<div class="ui segment">
					<div class="content">
						<a class="ui large purple ribbon label" title="Mark Your Calendar!">{{electionDay}}</a>
						<span class="ui">{{name}}</span> 
					</div>
				</div>
				{{/if}}
			{{/each}}
		</div>
		{{/with}}
	</div>
</template>

