<template name="gCivic">
    <div id="rep-container" class="ui fluid container" >
        {{#with data}}
        <h1 class="ui centered header">Elected Officials of {{normalizedInput.city.toUpperCase}}, {{normalizedInput.state}} ({{normalizedInput.zip}})</h1>
        <div id="rep-cards" class="ui ">
            
            {{#each offices}}
            <div class="office-container ui segments">

                <h3 class="office-name ui raised segment centered attached header">
                    Office of {{name}}
                </h3>
                <h4 class="ui segment attached block header">
                    {{>wiki name}}
                </h4>
                <div id="rep-card-container" class="ui segment special cards grid"  style="position:relative">
                    {{#each officialIndices}}
                    <div class="ui six wide column">
                        <div class="rep-card ui card">

                            {{#if getOfficial 'photoUrl' data this}}
                                <div class="office-official-photo ui blurring dimmable medium image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                          <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                          </div>
                                        </div>
                                    </div>
                                    <img class="ui image " src="{{getOfficial 'photoUrl' data this}}" alt="{{getOfficial 'name' data this}}"  />
                                </div>
                            {{else}}
                                <div class="office-official-photo ui blurring dimmable small image">
                                    <div class="ui dimmer">
                                        <div class="content">
                                          <div class="center">
                                            <div class="ui inverted button">Add Friend</div>
                                          </div>
                                        </div>
                                    </div>
                                    <img class="no-photo ui image" src="/img/pholder.png" />
                                </div>
                            {{/if}}
                            
                            {{#if getOfficial 'name' data this }}
                                <div class="centered content">
                                    <h4 class="office-official-name header">
                                       
                                        {{getOfficial 'name' data this}}
                                        
                                    </h4>
                                </div>
                            {{/if}}
                            {{#if getOfficial 'address' data this }}
                                {{#with getOfficial 'address' data this}}
                                    {{#each this}}
                                        <div class="centered content">
                                            <p>
                                            {{this.line1}}<br />
                                            {{this.line2}}<br />
                                            {{this.city}}, {{this.state}}  {{this.zip}}
                                            </p>
                                        </div>
                                    {{/each}}
                                {{/with}}
                            {{/if}}
                            <div id="social" class="ui center aligned extra content">
                                {{! #each getOfficial 'channels' data this}}
                                {{#each social 'channels' data this}}
                                    {{#if isGP}}
                                        <a href="http://www.{{type}}.com/{{id}}">
                                            <i class="google plus big icon"></i>
                                        </a>
                                    {{else}}
                                        <a href="http://www.{{type}}.com/{{id}}">
                                            <i class="{{type.toLowerCase}} big icon"></i>
                                        </a>    
                                    {{/if}}
                                {{/each}}                            
                            </div>
                        </div>
                    </div>

                    <div class="bio-card ui ten wide column basic segments">
                        {{#with getOfficial 'name' data this}}
                            <div class ="ui block header segment">
                                <h3> Bio: </h3>
                            </div>
                            {{> wiki this}}
                        {{/with}}
                    </div>
                    

                    {{/each}}
                </div>

            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>
</template>