<template name="ipInfo">
		<div id="ipInfo" class="ui centered ">	
			<form id="state-form" class="ui fluid search">
				<div class="ui icon input">
					{{#if location.region}}
				    <input class="prompt" type="text" id="self-state" name="self-state" placeholder="Enter zipcode:" />
				    <i class="search icon"></i>
			    {{else}}
				    <input class="prompt" type="text" id="self-state" name="self-state" placeholder=" Enter your zipcode here:" />
				    <i class="search icon"></i>
			    {{/if}}
				</div>
				<div class="results"></div>
			</form>
		</div>
</template>