<head>
	<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.6.2/go-debug.js"></script-->  
	<!-- use go.js when deploying -->
	<script src="js/jquery.orgchart.js"></script>
	<link rel="stylesheet" href="css/jquery.orgchart.css">
</head>
<template name="politicalTree">
<!-- THIS TEMPLATE GETS CALLED FROM GCIVIC TEMPLATE -->
	
	<div id="myOverviewDiv" style="width:700px; height:200px; background-color: #ddd;"></div>

	<div id="myDiagramDiv" style="width:700px; height:600px; background-color: #ddd;"></div>

</template>

<template name="polTree">
<!-- THIS TEMPLATE GETS CALLED FROM GCIVIC TEMPLATE -->
<!-- http://capricasoftware.co.uk/#/projects/orgchart/tutorial/basic-chart  -->
	<div id="orgChart">
		<ul id="orgChart-source" class="hide">
	 		{{#each offices}}
	  		{{#if newRow}}
					<ul>
						<li> Your {{name}} 
	          	<ul>
								{{#each officialIndices}}
				          <li>{{getOfficial 'name' data this}}</li>
								{{/each}}
	            </ul>
	          </li>           
	        </ul>
	  		{{else}}
						<li> Your {{name}} 
	          	<ul>
								{{#each officialIndices}}
				          <li>{{getOfficial 'name' data this}}</li>
								{{/each}}
	            </ul>
	          </li>                 		
	  		{{/if}}
			{{/each}}
		</ul>
	</div>
</template>