<template name="pollster">
<div id="charts" class="ui fluid container">
	<div class="ui three column grid">
		{{#each charts1}}
			{{#if estimates}}
			<div class="column">				
				<div class="chart ui fluid card">
					<div class="ui content">
						{{> highchartsHelper chartId=this.slug chartWidth="100%" charHeight="100%" chartObject=topChart}}
					</div>
					<div class="ui extra content centered sub header">
						<h5>Updated on {{date}}</h5>
					</div>					
				</div>
			</div>
			{{/if}}
		{{/each}}

		{{#each charts2}}
			{{#if estimates}}
			<div class="column">			
				<div class="chart ui card">
					<div class="ui content">
						{{> highchartsHelper chartId=this.slug chartWidth="100%" charHeight="100%" chartObject=topChart}}
					</div>
					<div class="ui extra content centered sub header">
						<h5>Updated on {{date}}</h5>
					</div>					
				</div>
			</div>
			{{/if}}
		{{/each}}			
	</div>
</div>
</template>